@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;

$primary-black: #2B2D42;
$light-grey: #EDF2F4;
$light-red: #EF233C;
$primary-red: #D90429;

body {
    background-color: $light-grey;
}

h1 {
    font-family: "Jost", "sans-serif";
    font-weight: $semi-bold;
}

.logo-img {
    margin-bottom: 16px;
}

.logo {
    width: 250px ;
    margin-bottom: 60px;
}

.logo.your-wheels {
    margin-bottom: 16px;
}

.sub-title {
    margin-bottom: 18px;
    font-family: "Jost", "sans-serif";
    font-weight: $regular;
    color: $primary-black;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.wrapper-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-div {
    padding: 32px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.21);
    z-index: 1;
}

.center-div.left {
    align-items: start;
}

.btn {
    padding: 8px 16px 8px 16px;
    font-family: "Jost", "sans-serif";
    background-color: $primary-red;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.btn:hover {
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.car-one {
    position: absolute;
    top: 20%;
    left: 10%;
}

.car-two {
    position: absolute;
    top: 20%;
    right: 10%;
}

.charge-level {
    margin-bottom: 16px;
    padding: 8px 16px 8px 16px;
    background-color:  #16c67a51;
    font-family: 'Jost';
    color: #116c44;
    font-weight: $medium;
}

.odometer-level {
    margin-bottom: 24px;
    padding: 8px 16px 8px 16px;
    background-color: #2b2d4252;
    font-family: 'Jost';
    color: $primary-black;
    font-weight: $medium;
}

input {
    height: 40px;
    border: 2px solid $primary-black;
    margin-right: 16px;
    padding: 8px;
    font-family: 'Jost';
    font-weight: $regular;
}

.car-img {
    margin-right: -80;
}